# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

/test/FibonacciAgent/nbproject/private/
/test/FibonacciAgentLocal/nbproject/private/
/test/FibonacciAgentLocal (copy)/nbproject/private/
/test/FibonacciAgentRemote/nbproject/private/
/test/LoadBenchAgentRemote/nbproject/private/
/test/LoadGeneratorAgents/target/
/test/SimallGraphicsBDIFuzzyEmotional/nbproject/private/
/test/Simall/nbproject/private/
/test/JavaApplication1/nbproject/private/
/test/BenchmarkBesa/nbproject/private/
/test/Simall (copy)/nbproject/private/
/test/SimallBackup/nbproject/private/
/test/Simall/target/
